# Feature engineering in Pandas

## Loading/Exploring the data

Load the iris.csv file from this repo into a pandas dataframe. Take a minute to familiarize yourself with the data.

## Import Pandas

Import the `pandas` library as `pd`

In [1]:
import pandas as pd

Read the `../data/iris.csv` dataset into an object named `iris`

In [2]:
iris = pd.read_csv('../data/iris.csv')

How many different species are in this dataset?

In [3]:
iris['species'].nunique()

3

What are their names?

In [4]:
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

How many samples are there per species?

<details><summary>Hint</summary>Use the <a href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html"><code>.value_counts()</code></a> method</details>

In [5]:
iris['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

## Feature Engineering

Create a new column called `'sepal_ratio'` which is equal to sepal width / sepal length

In [6]:
iris['sepal_ratio'] = iris['sepal width (cm)'] / iris['sepal length (cm)']

Create a similar column called `'petal_ratio'`: petal width / petal length

In [7]:
iris['petal_ratio'] = iris['petal width (cm)'] / iris['petal length (cm)']

Create 4 columns that correspond to `sepal length (cm)`, `sepal width (cm)`, `petal length (cm)`, and `petal width (cm)`, only in inches.

In [8]:
iris['sepal length (inches)'] = iris['sepal length (cm)'] * 0.393701
iris['petal length (inches)'] = iris['petal length (cm)'] * 0.393701
iris['sepal width (inches)'] = iris['sepal width (cm)'] * 0.393701
iris['petal width (inches)'] = iris['petal width (cm)'] * 0.393701
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio,sepal length (inches),petal length (inches),sepal width (inches),petal width (inches)
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007875,0.551181,1.377954,0.07874
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929135,0.551181,1.181103,0.07874
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850395,0.511811,1.259843,0.07874
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811025,0.590552,1.220473,0.07874
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968505,0.551181,1.417324,0.07874

## Apply

Create a column called `'encoded_species'`:
- 0 for setosa
- 1 for versicolor
- 2 for virginica


<details><summary>Hint 1</summary>
Create a dictionary using the species as keys and the numbers 0-2 for values
</details>

<details><summary>Hint 2</summary>
    Use the dictionary in hint 1 with the <code>.apply()</code> method to create the new column
</details>

In [9]:
species_dict = {
    'setosa': 0,
    'versicolor': 1,
    'virginica': 2
}
iris['encoded_species'] = iris['species'].map(species_dict)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,sepal_ratio,petal_ratio,sepal length (inches),petal length (inches),sepal width (inches),petal width (inches),encoded_species
0,5.1,3.5,1.4,0.2,setosa,0.686275,0.142857,2.007875,0.551181,1.377954,0.07874,0
1,4.9,3.0,1.4,0.2,setosa,0.612245,0.142857,1.929135,0.551181,1.181103,0.07874,0
2,4.7,3.2,1.3,0.2,setosa,0.680851,0.153846,1.850395,0.511811,1.259843,0.07874,0
3,4.6,3.1,1.5,0.2,setosa,0.673913,0.133333,1.811025,0.590552,1.220473,0.07874,0
4,5.0,3.6,1.4,0.2,setosa,0.720000,0.142857,1.968505,0.551181,1.417324,0.07874,0

## March Madness

Let's change up the dataset to something different than flowers: March Madness!

Read in the dataset `../data/ncaa-seeds.csv` to an object named `seeds`.

This dataframe simulates the games that will occur in the first round of the [NCAA basketball tournament](http://www.sportingnews.com/au/ncaa-basketball/news/ncaa-tournament-2017-march-madness-bracket-schedule-matchups-print-a-bracket/1r6cau9sb1xj4131zzhay2dj5g). In the first row, you should see the following:

| team_seed | opponent_seed |
|-----------|---------------|
| 01N       | 16N           |

In [10]:
seeds = pd.read_csv('../data/ncaa-seeds.csv')
seeds.head()

  team_seed opponent_seed
0       01N           16N
1       02N           15N
2       03N           14N
3       04N           13N
4       05N           12N

For team_seed, the 01 is their seed, and N is their division (North). This row is saying the 1st seed in the north division will play the 16th seed (same division).

Using the `.apply()` method, create the following new columns:
- `team_division`
- `opponent_division`

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 01N       | 16N           | N             | N                 |

In [11]:
seeds['team_division'] = seeds['team_seed'].apply(lambda div: div[-1])
seeds['opponent_division'] = seeds['opponent_seed'].apply(lambda div: div[-1])
seeds.head()

  team_seed opponent_seed team_division opponent_division
0       01N           16N             N                 N
1       02N           15N             N                 N
2       03N           14N             N                 N
3       04N           13N             N                 N
4       05N           12N             N                 N

Now that you have the divisions, change the `team_seed` and `opponent_seed` columns to just be the numbers.

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division |
|-----------|---------------|---------------|-------------------|
| 1         | 16            | N             | N                 |

In [12]:
seeds['team_seed'] = seeds['team_seed'].apply(lambda seed: int(seed[:-1]))
seeds['opponent_seed'] = seeds['opponent_seed'].apply(lambda seed: int(seed[:-1]))
seeds.head()

   team_seed  opponent_seed team_division opponent_division
0          1             16             N                 N
1          2             15             N                 N
2          3             14             N                 N
3          4             13             N                 N
4          5             12             N                 N

Create a new column called seed_delta, which is the difference between the team's seed and their opponent's. 

The first row of your result should look as follows:

| team_seed | opponent_seed | team_division | opponent_division | seed_delta |
|-----------|---------------|---------------|-------------------|------------|
| 1         | 16            | N             | N                 | -15        |

<br>
<details><summary>Did you get an error?</summary>
team_seed and opponent_seed need to be numerical columns in order for you to perform mathematical operations on them.
</details>